<div id="aboutContent">
  <div class="aboutContent">
    <div class="me"></div>
    <div class="aboutBox">
      <h2>Hi, I'm Joe!</h2>
      <br/>
      <p>I have a passion for transforming web content ideas and concepts into
        valuable, tangible results.  Eager to apply my front-end, back-end, and
        team skills to solve problems and enhance the user experience.
        I'm continuously learning new and existing technologies and techniques to
        maintain high quality programming performance.
      </p>
    </div>
  </div>
</div>
