<div id="navbarMain">
  <div class="navbar">
    <div class="animate-hide" ng-controller="mainCtrl" ng-hide="currentPath() === '/home'">
      <h1 class="rightDivText"><a href="/home">Home</a></h1>
    </div>
    <div class="animate-hide" ng-controller="mainCtrl" ng-hide="currentPath() === '/about'">
      <h1 class="rightDivText"><a href="/about">About</a></h1>
    </div>
    <div class="animate-hide" ng-controller="mainCtrl" ng-hide="currentPath() === '/skills'">
      <h1 class="rightDivText"><a href="/skills">Skills</a></h1>
    </div>
    <div class="animate-hide" ng-controller="mainCtrl" ng-hide="currentPath() === '/work'">
      <h1 class="rightDivText"><a href="/work">Work</a></h1>
    </div>
    <div class="animate-hide" ng-controller="mainCtrl" ng-hide="currentPath() === '/contact'">
      <h1 class="rightDivText"><a href="/contact">Contact</a></h1>
    </div>
  </div>
</div>
