@import url(https://fonts.googleapis.com/css?family=Lobster|Cinzel+Decorative:900);
*{
  margin:0;
  border:0;
  padding:0;
  border-collapse:collapse;
  border-spacing:0;
  font-size:inherit;
  font-style:inherit;
  font-family:inherit;
  font-weight:inherit;
  text-decoration:none;
  color:inherit;
  background-color:transparent;
  list-style-type:none;
  box-sizing:border-box;
}
*:focus{
  outline:0
}
body, html{
  position:relative;
}
a, button, label{
  cursor:pointer;
}
html{
}
h1{
  font-size: 44px;
  text-shadow: 1px 2px 3px #ddd;
}
h2{
  font-size: 44px;
}
main>*:not(:nth-child(1)){
  margin-left:0px;
}
body{
  min-height:100vh;
}
main{
  display: flex;
}
main>*{
}
main>*:not(:nth-child(1)){
  margin-left:0px;
}
@media screen and (max-width: 620px){
  main{
     flex-direction: column;
  }
  main>*:not(:nth-child(1)){
    margin-left:10px;
    margin-top:0px;
  }
  nav{
     order: 1;
  }
  aside{
     order: 2;
  }
  nav, aside{
    min-width:none;
    max-width:none;
  }
}
.content{
  flex-grow: 3;
  background-color: #fff;
}
.animate-hide {
  transition: all linear 0.5s;
  opacity: 1;
}
.animate-hide.ng-hide {
  opacity: 0;
}
.home, .about, .skills, .work, .contact, .navi {
  height:100vh;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, #eee, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #eee, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #eee, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #eee, white); /* Standard syntax */
}
div {
    /* start 'enter' transition */
    &.ng-enter {
      transition: 0.5s;
      opacity: 0;
      -webkit-animation:slideInUp 0.5s both ease-in;
  	-moz-animation:slideInUp 0.5s both ease-in;
  	animation:slideInUp 0.5s both ease-in;
    }

    // /* end 'enter' transition */
    &.ng-enter-active {
        /* end with opacity 1 (fade in) */
        opacity: 1;
    }
}
div.home {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
}
div.content {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
div.home, div.about, div.contact, div.skills, div.work  {
  box-shadow: 1px 1px 15px #ccc;
}
a{
  text-shadow: 1px 2px 3px #337ab7;
}
.leftDivText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 10px;
}
.rightDivText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 10px;
}
.navi {
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  box-shadow: -1px -1px 15px #ccc;
  /* start 'enter' transition */
  &.ng-enter {
    transition: 0.5s;
    opacity: 0;
    -webkit-animation:slideInRight 0.5s both ease-in;
	-moz-animation:slideInRight 0.5s both ease-in;
	animation:slideInRight 0.5s both ease-in;
  }

  // /* end 'enter' transition */
  &.ng-enter-active {
      /* end with opacity 1 (fade in) */
      opacity: 1;
  }
}
div.aboutContent, div.contactContent, div.homeContent, div.skillsContent, div.workContent  {
  margin: 0 auto;
  /* start 'enter' transition */
  &.ng-enter {
    transition: 0.5s;
    opacity: 0;
    -webkit-animation:slideInDown 0.5s both ease-in;
  -moz-animation:slideInDown 0.5s both ease-in;
  animation:slideInDown 0.5s both ease-in;
  }

  // /* end 'enter' transition */
  &.ng-enter-active {
      /* end with opacity 1 (fade in) */
      opacity: 1;
  }
}

/* ANIMATIONS
============================================================================= */

.page.ng-leave 	{ z-index:9999; }
.page.ng-enter 	{ z-index:8888; }

/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
	from 	{ transform:translateY(100%); }
	to 		{ transform: translateY(0); }
}
@-moz-keyframes slideInUp {
	from 	{ -moz-transform:translateY(100%); }
	to 		{ -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
	from 	{ -webkit-transform:translateY(100%); }
	to 		{ -webkit-transform: translateY(0); }
}

/* slide in from the top */
@keyframes slideInDown {
	from 	{ transform:translateY(0); }
	to 		{ transform: translateY(100%); }
}
@-moz-keyframes slideInDown {
	from 	{ -moz-transform:translateY(0); }
	to 		{ -moz-transform: translateY(100%); }
}
@-webkit-keyframes slideInDown {
	from 	{ -webkit-transform:translateY(0); }
	to 		{ -webkit-transform: translateY(100%); }
}

/* slide in from the left */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}

/* slide in from the right */
@keyframes slideOutLeft {
	to 		{ transform: translateX(100%); }
}
@-moz-keyframes slideOutLeft {
	to 		{ -moz-transform: translateX(100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(100%); }
}

/* when hiding the picture */
.ng-hide-add         { animation:0.5s lightSpeedOut ease; }

/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */

/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
}
