<div id="skillsContent">
  <div class="skillsContent">
    <div class="skillsBox">
      <div class="skillsBoxContent">
        <i class="devicon-angularjs-plain-wordmark colored"></i>

        <i class="devicon-atom-original-wordmark colored"></i>

        <i class="devicon-bootstrap-plain-wordmark colored"></i>

        <i class="devicon-css3-plain-wordmark colored"></i>

        <i class="devicon-git-plain-wordmark colored"></i>

        <i class="devicon-github-plain-wordmark colored"></i>

        <i class="devicon-heroku-original-wordmark colored"></i>

        <i class="devicon-html5-plain-wordmark colored"></i>

        <i class="devicon-javascript-plain colored"></i>

        <i class="devicon-jquery-plain-wordmark colored"></i>

        <i class="devicon-less-plain-wordmark colored"></i>

        <i class="devicon-mongodb-plain-wordmark colored"></i>

        <i class="devicon-mysql-plain-wordmark colored"></i>

        <i class="devicon-nodejs-plain-wordmark colored"></i>

        <i class="devicon-photoshop-line colored"></i>

        <i class="devicon-php-plain colored"></i>

        <i class="devicon-postgresql-plain-wordmark colored"></i>

        <i class="devicon-python-plain-wordmark colored"></i>

        <i class="devicon-rails-plain-wordmark colored"></i>

        <i class="devicon-react-original-wordmark colored"></i>

        <i class="devicon-ruby-plain-wordmark colored"></i>

        <i class="devicon-sass-original colored"></i>

        <i class="devicon-wordpress-plain-wordmark colored"></i>

      </div>
    </div>
  </div>
</div>
